<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="bootstrap/title.html"></div>
  <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>
<body>
<div class="container">
  <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

  <h1>Favorite Locations</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>PlaceID</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Get Earthquakes<th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
      <tr>
         <tr th:each="l: ${locations}">
	   <td th:text="${l.id}"></td>
	   <td th:text="${l.placeId}"></td>
	   <td th:text="${l.name}"></td>
	   <td th:text="${l.latitude}"></td>
	   <td th:text="${l.longitude}"></td>
	   <td><a th:href="@{/earthquakes/search/(lat=${l.latitude},lon=${l.longitude},location=${l.name})}">Get Earthquakes</a></td>
	   <td>
	     <form th:method="delete" th:action="@{/locations/delete/} + ${loc.id}">
	       <input type="submit" class="btn btn-danger" value="Delete" />
	     </form>
	   </td>
	 </tr>
    </tbody>
  </table>

  <div th:replace="bootstrap/bootstrap_footer.html"></div>
</div>
<div th:replace="bootstrap/bootstrap_scripts.html"></div>
</body>
</html>
